*{
    margin:0;
    font-family: "Play", sans-serif;
}
a{
    text-decoration: none;
    color: white;
    z-index: 100;
}
h2{
    color: green;
    font-size: 70px;
    font-weight: bold;
    margin: 30px;
    border-bottom: 4px solid yellow;
}
.imagenes-logo-quindio{
    margin-top: 25px;
    width: 160px;
    height: 160px;
    z-index: 100;
}
.nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 90px;
    background-color: rgb(0, 0, 0);
    justify-content: space-evenly;
    align-items: center;
}
.lista{
    color: white;
    display: flex;
    flex-direction: row;
    list-style: none;
    font-size: 25px;
    height: 70px;
}
.lista li{
    margin: 20px;
    transition: all .5s;

}
.lista li:hover{
    transform: scale(1.09);
    cursor: pointer;
    border-bottom: 1px solid rgb(255, 234, 0);
}
.icon{
    width: 50px;
    height: 50px;
    transition: all .5s;
}
.icon:hover{
    cursor: pointer;
    transform: scale(1.09);
}
/* Main content */
.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
}
.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.active-h2{
    color: black;
}
.imagenes{
    width: 300px;
    height: 300px;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.creacion{
    width: 30vw;
}
select{
    width: 50%;
    border-radius: 3em;
    border: none;
    border-bottom: 2px solid green;
    padding: 8px;
}
select:focus{
    outline: none;
}
input{
    border-radius: 3em;
    margin: 5px;
    border: none;
    border-bottom: 2px solid green;
    width: 50%;
    font-size: 14px;
    height: 30px;
}
input:focus{
    outline:none;
    border-bottom: 2px solid rgb(3, 57, 3);
}
button{
    border-radius: 3em;
    width: 30%;
    padding: 2px;
    font-size: 18px;
    margin: 20px;
    transition: all .5s;
    border: none;
    border: 1px solid green;
}
button:hover{
    background-color: green;
    color: white;
    cursor: pointer;
}
.error{
    border-bottom:2px solid red;
}
.container-productos img{
    width: 300px;
    height: 300px;
}
.container-productos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    width: 400px;
    transition: all .5s;
}
.container-productos li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: green;
    font-size: 30px;
    margin: 5px;
    
}
.container-productos:hover{
    transform: scale(1.05);
}
.botones-compra{
    background-color: green;
    color: white;
    transition: all .5s;
    border: none;
    width: 150px;
    padding: 5px;

}
.botones-compra:hover{
    background-color: white;
    color: black;
    outline: 1px solid black;
}
.padre-container-productos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90vw;
    flex-wrap: wrap;
    margin: 50px;
}
textarea{              
    border: none;
    resize: none;
    border-bottom: 3px solid green;
}
textarea:focus{
    outline: none;
}

.vista-previa{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.vista-previa img{
    width: 400px;
    height: 500px;
}

.vista-previa-lista{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-size: 30px;
}
.vista-previa-lista li{
    margin: 30px;
}
.vista-previa-lista button{
    width: 200px;
}
.footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    background-color: black;
    margin-top: 80px;
    
}
.icono-redes{
    width: 30px;
    height: 30px;
    margin: 10px;
    transition: all 1s;
}
.icono-redes:hover{
    transform: scale(1.2);
    cursor:pointer;
}
.active{
    color: white;
    padding: 30px;
}
.nav-tienda img{
    width: 50px;
    height: 50px;
    transition: all 0.5s;
   
}
.nav-tienda{
    align-items: center;
    justify-content:space-evenly;
    width: 90vw;
   
}
#contador-compras-container{
    transition: all .5s;
}
#contador-compras-container:hover{
    cursor: pointer;
    transform: scale(1.05);
}   
.contador{
    display: flex;
    flex-direction: row;
    align-items:flex-end;
}
#contador-compras{
    font-weight: bold;
    text-align: center;
    position: relative;
    overflow: 9000;
    width: 20px;
    border-radius: 50%;
    background-color: black;
    color: white;
    right: 17px;
}
.imagenes-bolsa{
    width: 200px;
    height: 200px;

}
.div-bolsa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bolsa-item{
    display: flex;
    flex-direction: row;
    width: 50vw;
    justify-content: space-evenly;
    align-items: center;
    outline: 1px solid lightgrey;
    list-style: none;
    font-size: 20px;
}
.bolsa-item li{
    margin: 20px;
}

.x-icon{
    width: 30px;
    height: 30px;
}
.div-bolsa p{
    font-size: 30px;
}
.none{
    display: none;
}
.container-formulario{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80vw;
}
.container-formulario img{
    width: 200px;
    height: 200px;
}
.container-inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
}
.container-inputs  input{
    width: 100%;
}
.container-inputs p{
    margin-top: 40px;
}
.container-inputs button{
    background-color: green;
    color: white;
}
.container-inputs button:hover{
    background-color: white;
    color: black;
}
.botones{
    width: 200px;
}
.container-exitoso{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-exitoso p{
    font-size: 60px;
    margin: 10px;
}
.container-exitoso img{
    width: 200px;
    height: 200px;
}
.buscador{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
    
}
.buscador input {
    width: 200px;
    border-bottom: 1px solid black;
}
.buscador img {
    width: 30px;
    height: 30px;
    transition: all .5s;
}
.buscador img:hover{
    cursor: pointer;
    transform: scale(1.09);
}